.login {
    display: flex;
    height: 87.5vh;
}

.loginForm {
    width: 70%;
    margin: auto;
    box-shadow: 5px 5px 10px;
    margin-top: 40%;
    padding: 10px;
    border-radius: 8px;
    overflow: auto;
}

.flexItems1 {
    width: 40%;
}

.flexItems2 {
    width: 100%;
    background-image: url("https://img.business.com/w/700/aHR0cHM6Ly9pbWFnZXMuYnVzaW5lc3NuZXdzZGFpbHkuY29tL2FwcC91cGxvYWRzLzIwMjIvMDQvMDQwNzQ1NTMvMTU1NDI0NDAxMC5qcGVn");
    background-size: cover;
    min-height: 87.5vh;
}

@media screen and (max-width:900px) {
    .flexItems2{
        display: none;
    }
        .flexItems1 {
            width: 80%;
        }
}